* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.title {
    font-size: 32px;
    text-decoration: underline;
}

.elections {
    display: flex;
    flex-direction: row;
    gap: 16px;
    button {
        font-size: 24px;
        padding: 16px 32px;
        border-radius: 12px;
        min-width: 164px;
        min-height: 64px;
    }
}

.score-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    .player, .computer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px;
        border: 2px solid black;
        border-radius: 24px;
        min-width: 128px;
        min-height: 128px;
        .player-title, .computer-title {
            font-size: 24px;
            
        }
        #player-score, #computer-score {
            font-size: 48px;
        }
    }
}

